absl-py==0.15.0
antlr4-python3-runtime==4.9.3
astunparse==1.6.3
blis==0.7.8
cached-property==1.5.2
cachetools==4.2.4
catalogue==2.0.8
certifi==2020.12.5
charset-normalizer==2.0.7
clang==5.0
click==8.0.4
confection==0.0.3
contextvars==2.4
cycler==0.11.0
cymem==2.0.6
Cython==0.29.24
dataclasses==0.8
decorator==4.4.2
einops==0.4.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
filelock==3.4.1
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gensim==3.8.1
google-auth==2.3.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.1
h5py==3.1.0
huggingface-hub==0.4.0
hydra-core==1.2.0
idna==3.3
imageio==2.10.1
immutables==0.19
importlib-metadata==4.8.1
importlib-resources==5.4.0
Jinja2==3.0.3
joblib==1.1.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
langcodes==3.3.0
lmdb==1.3.0
Markdown==3.3.4
MarkupSafe==2.0.1
murmurhash==1.0.8
networkx==2.5.1
nltk==3.6.7
numpy==1.19.5
oauthlib==3.1.1
omegaconf==2.2.3
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==0.25.1
pathy==0.6.2
Pillow==8.4.0
preshed==3.0.7
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.5
pydantic==1.9.2
pyparsing==3.0.3
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.1.1
PyYAML==6.0
regex==2022.9.13
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.17.2
scipy==1.5.4
six==1.15.0
smart-open==5.2.1
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
srsly==2.4.4
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow-estimator==2.7.0
tensorflow-gpu==2.6.0
termcolor==1.1.0
thinc==8.1.3
tifffile==2020.9.3
timm==0.6.11
torch==1.7.1+cu110
torchaudio==0.7.2
torchvision==0.8.2+cu110
tqdm==4.64.0
typer==0.4.2
typing-extensions==3.7.4.3
urllib3==1.26.7
wasabi==0.10.1
Werkzeug==2.0.2
wrapt==1.12.1
zipp==3.6.0
